* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* in max'width  1200 992 768 576  */
@media (max-width:1400px) {
    body {
        width: 100%;
    }
}

@media (max-width:992px) {
    body {
        width: 100%;
    }
}

@media (max-width:768px) {
    body {
        width: 100%;
    }
}

@media (max-width:576px) {
    body {
        width: 100%;
    }
} 

/* Utility */
:root {
    --color-navbar: #080B12;
    --color-main: #141922;
    --color-left-menu: #000000;
    --color-player: #282828;
}

.white-on-hover:hover {
    color: white;
}

.white {
    color: white;
}

.gray {
    color: #757575;
}

.font-size {
    font-size: 40px;
    font-weight: 600;
}



ul {
    list-style: none;
}

li:hover {
    color: white;
    cursor: pointer;
}

.wrapper {
    display: flex;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-navbar);
    padding: 30px;
    align-items: center;
}

.upgrade-button {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
.upgrade-button:hover {
    transform: scale(1.1);
}

/* Sidebar */
.sidebar {
    width: 25%;
    background-color: var(--color-left-menu);
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}
.sidebar .logo img {
    height: 40px; 
    margin-right: 10px; 
}
.sidebar ul li {
    padding: 10px 0;
}
.invert-image{
    filter: invert(100%);
    text-align: center;
}
.logo-container {
    display: flex;
    align-items: center;
    
}
.magnified {
    transform: scale(1.6); 
}
.sidebar span {
    margin-left: 20px;
}
.sidebar ul {
    margin-top: 20px;
    font-size: 25px;
}


/* Main Content */
.main-content {
    margin-left: 25%;
    flex: 1;
    background-color: var(--color-main);
    padding: 20px;
    overflow-y: auto;
}

/* Footer */
.player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-player);
    color: white;
    padding: 10px;
    text-align: center;
}
