* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* in max'width  1200 992 768 576  */
@media (max-width: 1400px) {
    body {
        width: 100%;
    }
}

@media (max-width: 992px) {
    body {
        width: 100%;
    }
}

@media (max-width: 768px) {
    body {
        width: 100%;
    }
}

@media (max-width: 576px) {
    body {
        width: 100%;
    }
}

/* Utility */
:root {
    --color-navbar: #080b12;
    --color-main: #141922;
    --color-left-menu: #000000;
    --color-player: #282828;
}

.white-on-hover:hover {
    color: white;
}

.white {
    color: white;
}

.gray {
    color: #757575;
}

.font-size-10 {
    font-size: 5px;
    font-weight: 600;
}

.font-size-5 {
    font-size: 2.5px;
    font-weight: 600;
}

h2 {
    font-size: 10px;
}

p {
    font-size: 10px;
}

ul {
    list-style: none;
}

li:hover {
    color: white;
    cursor: pointer;
}

.wrapper {
    display: flex;
}

.margin-top {
    margin-top: 15px;
}

.margin-bottom {
    margin-bottom: 15px;
}

h1 {
    font-size: 17px;
}

.margin-top-8 {
    margin-top: 8px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-navbar);
    padding: 20px;
    align-items: center;
}

.upgrade-button {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    padding: 7px 15px;
    cursor: pointer;
}

.upgrade-button:hover {
    transform: scale(1.1);
}

/* Sidebar */
.sidebar {
    width: 20%;
    background-color: var(--color-left-menu);
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    color: gray;
}

.sidebar .logo img {
    height: 40px;
    margin-right: 10px;
}

.sidebar ul li {
    padding: 10px 0;
}

.invert-image {
    filter: invert(100%);
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.magnified {
    transform: scale(1.2);
}

.sidebar span {
    margin-left: 8px;
}

.sidebar ul {
    margin-top: 20px;
    font-size: 8px;
}

.plus-icon {
    width: 40px;
    height: 40px;
    background-color: gray;
    color: var(--color-left-menu);
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
}

.container {
    display: flex;
    align-items: center;
}

.border-w {
    border: 1px solid;
    width: 100%;
    margin-top: 10px 10px;
}

.circle-container {
    display: flex;
    align-items: center;
}

.bottom {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 60px;
}

.border-w {
    width: 100%;
    border-bottom: 1px solid gray;
    margin: 10px 0;
}

.circle-container {
    display: flex;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-user {
    color: white;
}






/* Main Content */
.main-content {
    margin-left: 20%;
    flex: 1;
    background-color: var(--color-main);
    padding: 20px;
    overflow-y: auto;
    margin-bottom: 45px;
}

.main-bar {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 10px;
}

.main-bar li:hover {
    border-bottom: 2px solid green;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 15px;
}

.box figure {
    width: calc(100% / 6 - 10px);
}

.box img {
    width: 100%;
}

figure {
    text-align: center;
}

figcaption {
    margin-top: 5px;
    color: white;
}











/* Footer */