* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--color-main);
}



/* Utility */
:root {
    --color-navbar: #080b12;
    --color-main: #141922;
    --color-left-menu: #000000;
    --color-player: #282828;
}

.white-on-hover:hover {
    color: white;
}

.white {
    color: white;
}

.gray {
    color: #757575;
}

.font-size-10 {
    font-size: 5px;
    font-weight: 600;
}

.font-size-5 {
    font-size: 2.5px;
    font-weight: 600;
}

h2 {
    font-size: 10px;
}

p {
    font-size: 10px;
}

ul {
    list-style: none;
}

li:hover {
    color: white;
    cursor: pointer;
}

.wrapper {
    display: flex;
}

.margin-top {
    margin-top: 15px;
}

.margin-bottom {
    margin-bottom: 15px;
}

h1 {
    font-size: 17px;
}

.margin-top-8 {
    margin-top: 8px;
}
.flex {
    display: flex;
}
i:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-navbar);
    padding: 20px;
    align-items: center;
}

.upgrade-button {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    padding: 7px 15px;
    cursor: pointer;
}

.upgrade-button:hover {
    transform: scale(1.1);
}

/* Sidebar */
.sidebar {
    width: 20%;
    background-color: var(--color-left-menu);
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    color: gray;
}

.sidebar .logo img {
    height: 40px;
    margin-right: 10px;
}

.sidebar ul li {
    padding: 10px 0;
}

.invert-image {
    filter: invert(100%);
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.magnified {
    transform: scale(1.2);
}

.sidebar span {
    margin-left: 8px;
}

.sidebar ul {
    margin-top: 20px;
    font-size: 8px;
}

.plus-icon {
    width: 40px;
    height: 40px;
    background-color: gray;
    color: var(--color-left-menu);
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
}

.container {
    display: flex;
    align-items: center;
}

.border-w {
    border: 1px solid;
    width: 100%;
    margin-top: 10px 10px;
}

.circle-container {
    display: flex;
    align-items: center;
}

.bottom {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 75px;
}

.border-w {
    width: 100%;
    border-bottom: 1px solid gray;
    margin: 10px 0;
}

.circle-container {
    display: flex;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-user {
    color: white;
}






/* Main Content */
.main-content {
    margin-left: 20%;
    flex: 1;
    background-color: var(--color-main);
    padding: 20px;
    overflow-y: auto;
    margin-bottom: 70px;
}

.main-bar {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 10px;
}

.main-bar li:hover {
    border-bottom: 2px solid green;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 15px;
}

.box figure {
    width: calc(100% / 6 - 10px);
}

.box img {
    width: 100%;
}

figure {
    text-align: center;
}

figcaption {
    margin-top: 5px;
    color: white;
}











/* Footer */
footer {
    position: fixed;
    background-color: var(--color-player);
    width: 100%;
    padding: 10px 0px;
    color: gray;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    align-items: center;
}
 /* seziona sinitra del footer */
.f-left {
    display: flex;
    align-items: center;
    margin-left: 15px;
    width: 20%;

}
.footer img {
    width: 50px;
    height: 50px;
}
.song-info {
    margin-left: 10px;
}
.f-icons {
    margin-left: 20px;
    display: flex;
    gap: 10px;
}
 /* sezione centrale del footer */
 .f-center{
    width: 60%;
 }
 .player {
    text-align: center;
    margin-bottom: 15px;
 }
 .player i {
    color: white;
    padding: 0px 10px;
    align-items: center;
 }
 .f-center .volume-bar{
    width: 500px;
 }
.time {
    display: flex;
   align-items: center;
}
.time-left-now {
    margin-right: 10px;
}
.time-right-total {
    margin-left: 10px;
}
 

 /* sezione destra del footer */

.f-right {
    margin-right: 15px;
    display: flex;
    width: 20%;
    
    
    align-items: center;
} 
.f-right i {
    padding: 0px 10px;
    color: white;
}
.f-right i:first-of-type {
    margin-right: -19px;

}
.time {
    display: flex;
    justify-content: center;
}

.volume-bar {
    width: 200px;
    height: 5px;
    background-color: #5A5A5A;
    border-radius: 5px;
  }
  
  .volume-level {
    height: 100%;
    background-color: white;
    width: 30%; /* Volume attuale del 30% */
    border-radius: 5px;
  }



  /* Media Queries */
@media (max-width: 576px) {
  
 
    .sidebar ul li {
        font-size: 0; 
    }

    .sidebar ul li i {
        font-size: 30px; 
        margin-top: 20px;
    }

    .container {
        display: block;
    }
    .sidebar{
        width: 15%;
    }
   
    .sidebar ul li:not(:has(i)),
    .bottom  :not(:has(i)) ,
    p,
    span {
        display: none;
    }
    
   
    .main-content {
        width: 100%;
        margin-left: 15%;
    }
    .box{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        padding-top: 15px;
    }
    .box figure {
        width: calc(100% / 2 - 8px);
        margin-top: 30px;
    }
}

   

 


